includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/xefi/phpstan-xefi-rules/extension.neon

parameters:
    scanFiles:
        - faker_mixin.php

    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/
        - functional/fleet/src/
        - functional/fleet/database/
        - functional/fleet/routes/
        - functional/booking/src/
        - functional/booking/database/
        - functional/booking/routes/
        - functional/inspection/src/
        - functional/inspection/database/
        - functional/inspection/routes/
        - functional/inspection/config/

    level: 7

    ignoreErrors:
        -
            identifier: trait.unused
            path: app/Concerns/ProfileValidationRules.php
        -
            identifier: xefi.maxLinePerMethod
            path: database/migrations/*_create_permission_tables.php
